:root {
    --primary-orange: #F46569;
    --neutral-white: #ffffff;
    --neutral-pink: #fee6e6;
    --neutral-green: #c2dab8;
    --neutral-cyan: #8fd0cc;
    --neutral-dark-blue: #40667b;
}

/* Main Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--neutral-dark-blue);
}

/* Typography */
.display1 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.444em;
    margin: 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-orange);
}

.display2 {
    font-size: 1.333em;
    margin: 30px 0 20px 0;
    color: var(--primary-orange);
    /* background-image: linear-gradient(to top,transparent 5%,#a3aeff 5%,#a3aeff 37%,transparent 37%) */
}

.display3 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.111em;
    margin: 30px 0 30px 0;
    font-weight: 600;
    color: var(--primary-orange);
    /* background-image: linear-gradient(to top,transparent 5%,#a3aeff 5%,#a3aeff 37%,transparent 37%) */
}

p {
    font-size: 0.888em;
    line-height: 1.6;
    color: var(--neutral-grayish-blue);
}

/* Button Styles */
.btn {
    padding: 10px 15px;
    font-weight: 600;
    color: var(--neutral-dark-blue);
    margin: 20px 0 0 10px;
    box-shadow: 0 0 0 3px var(--neutral-dark-blue);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
}

.btn:hover {
    background-color: var(--neutral-dark-blue);
    color: var(--neutral-white);
    border: none;
}

/* Url background-image for .number */
#url--1 {
    background-image: url(../images/shape-arrow.svg);
    padding: 0 50px 0 0;
}

#url--2 {
    background-image: url(../images/shape-rectangle.svg);
    padding: 0 20px 0 0;
}

#url--3 {
    background-image: url(../images/shape-polygon.svg);
    padding: 0 40px 0 0;
}

#url--4 {
    background-image: url(../images/shape-squares.svg);
    padding: 0 20px 0 0;
}

#url--5 {
    background-image: url(../images/shape-zig-zag.svg);
    padding: 0 40px 0 0;
}

/* Header */
header {
    background-color: var(--neutral-white);
    color: var(--neutral-dark-blue);
    padding: 20px;
    position: relative;
    overflow: hidden;
}

#intro {
    padding: 10%;
    opacity: 0;
    transform: translate(0, 20%);
    transition: all 0.2s ease-out 0s;
}

#logo {
    width: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    flex-wrap: wrap;
}

/* Hamburger */
#hamburger {
    display: initial;
    /* transform: translate(-25px, 0); */
    transition: all 0.2s ease-out 0s;
}

.hamburger-clicked {
    transform: rotate(135deg);
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out 0s;
}

.nav__item {
    margin: 10px 0;
    font-weight: 600;
}

.line {
    background-color: var(--neutral-dark-blue);
    width: 28px;
    height: 3px;
    margin-bottom: 4px;
    /* position: absolute; */
}

.hide-line {
    display: none;
}

.rotate-line {
    transform: rotate(90deg);
    position: absolute;
}

/* Section */
section {
    padding: 80px 20px;
    overflow: hidden;
}

/* Features */
#features {
    color: var(--neutral-dark-blue);
}

.number {
    background-repeat: no-repeat;
    font-size: 65px;
    font-weight: 600;
    background-position: 100% 50%;

}

.features__item {
    margin: 0 0 80px 0;
    padding: 40px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.4s ease-out 0s;
}

.features__item:nth-of-type(odd) {
    transform: translate(-20%, 0);
    background-image: url(../images/feature-bg-pink.svg);
}

.features__item:nth-of-type(even) {
    transform: translate(20%, 0);
    background-image: url(../images/feature-bg-cyan.svg);
}

/* Companies */
#companies {
    color: var(--neutral-dark-blue);
}

#companies__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies__logo {
    margin: 30px 0;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
}

/* How it works */
#tools {
    color: var(--neutral-dark-blue);
}
.tools__card {
    padding: 40px;
    margin: 80px 0 0 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 20% 50%;
    transition: all 0.4s ease-out 0s;
}

.tools__card:nth-of-type(odd) {
    transform: translate(-20%, 0);
}

.tools__card:nth-of-type(even) {
    transform: translate(20%, 0);
}

#tool--first {
    background-image: url(../images/number-one.svg);
}

#tool--second {
    background-image: url(../images/number-two.svg);
}

#tool--third {
    background-image: url(../images/number-third.svg);
}

.icon {
    display: block;
    margin: 0 auto;
}

/* Footer */
footer {
    padding: 20px;
    color: var(--neutral-dark-blue);
}

footer .btn {
    margin: 0 0 0 10px;
}

.footer-nav__item {
    margin: 0 0 20px 0;
    background-image: linear-gradient(to right, transparent 0%,#8fd0cc 0%,#8fd0cc 100%,transparent 50%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: 0% 100%;
    transition: all 0.2s ease-out 0s;
}

.footer-nav__item:hover {
    background-size: 100% 100%;
}

.social-media--icon {
    height: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    header {
        background-repeat: no-repeat;
        padding: 40px 15%;
    }

    #intro {
        margin: 100px 0;
        padding: 0 16%;
    }

    #hamburger {
        display: none;
    }

    nav {
        padding: 0;
    }

    .nav__list {
        width: auto;
        display: initial;
        max-height: initial;
        overflow: visible;
    }

    .nav__item {
        display: inline;
        margin: 0 30px 0 0;
        padding: 5px;
        cursor: pointer;
        box-shadow: 0 0 0 3px transparent;
        transition: all 0.2s ease-out 0s;
    }

    .nav__item:hover {
        box-shadow: 0 0 0 3px var(--neutral-dark-blue);
    }

    .btn {
        margin: 40px 0 0 10px;
    }

    /* section */
    section {
        padding: 50px 15%;
        overflow: visible;
    }

    /* Features */
    #features__list {
        display: flex;
        flex-wrap: wrap;
    }

    .features__item {
        background-repeat: no-repeat;
        padding: 20px;
        width: 50%;
    }

    /* Companies */
    #companies__list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .companies__logo {
        margin: 20px 20px 10px 0;
    }

    /* How it works */
    .icon {
        display: inline;
    }

    .tools__card:nth-of-type(even) {
        margin: 50px 0 0 40%;
    }

    .tools__card:nth-of-type(odd) {
        margin: 50px 40% 0 0;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
    }

    .social-media--icon {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 1350px) {
    header {
        background-size: cover;
    }

    #logo {
        width: 40px;
    }

    li {
        font-size: 1.111em;
    }

    .display1 {
        font-size: 3.1666em;
    }

    .display2 {
        font-size: 2.222em;
    }

    .display3 {
        font-size: 1.666em;
    }

    p {
        font-size: 1.111em;
    }

    .btn {
        font-size: 1.111em;
        padding: 10px 30px;
    }

    .tools__card {
        background-size: auto;
    }

    .icon {
        width: 100px;
    }

    .social-media--icon {
        height: 30px;
    }
}